.mainblog {
  background-color: #455a64;
  font-family: "Oswald", sans-serif;
}

.header {
  text-align: center;
  padding: 50px;
  font-size: 60px;
}

.background {
  background-color: #607d8b;
  border: 3px solid black;
}

.blogs {
  background-color: #607d8b;
  text-align: center;
  height: 40vh;
  border: 3px solid black;
  font-size: 30px;
}
